{{ $currentPage := . }}
{{ $icons := .Site.Params.iconOrder | default (slice "Twitter" "GitHub" "Email" "Mastodon" "Facebook" "GitLab" "Instagram" "LinkedIn" "YouTube") }}

<div class="social-icons">
  {{ range $icons }}
    {{ $icon := anchorize . }} 
    {{ if isset $currentPage.Site.Params $icon }}
      <a
        class="social-icons__link"
        title="{{ . }}"
        href="{{ index $currentPage.Site.Params $icon }}"
        target="_blank"
        rel="me noopener"
      >
        <img class="social-icons__icon" src="{{print "https://boghison.com/svg/" $icon ".svg"}}"></img>
      </a>
    {{ end }}
  {{ end }}   
</div>
